<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fragments</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body id="top">
    <nav>
      <ul id="nav">
        <li><a class="active" href="#cuisines">Cuisines</a></li>
        <li><a href="#chefs">Chefs</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#delivery">Delivery</a></li>
      </ul>
    </nav>
    <main>
      <div id="cuisines">
        <h1>Cuisines</h1>
        <p>
          Non ex proident Lorem ad cillum culpa consectetur enim cupidatat. Sit
          do minim nulla dolor tempor duis labore fugiat ipsum eiusmod non
          ullamco. Et velit enim cillum sint consequat non deserunt consectetur
          esse adipisicing veniam pariatur ea. Ea ex eu ipsum eu sint magna
          deserunt mollit incididunt elit. Nulla dolor cillum aliqua fugiat sint
          velit qui ipsum occaecat id cupidatat Lorem nulla. Officia do laborum
          velit culpa laborum officia ad pariatur.
        </p>
      </div>
      <div id="chefs">
        <h1>Chefs</h1>
        <p>
          Non ex proident Lorem ad cillum culpa consectetur enim cupidatat. Sit
          do minim nulla dolor tempor duis labore fugiat ipsum eiusmod non
          ullamco. Et velit enim cillum sint consequat non deserunt consectetur
          esse adipisicing veniam pariatur ea. Ea ex eu ipsum eu sint magna
          deserunt mollit incididunt elit. Nulla dolor cillum aliqua fugiat sint
          velit qui ipsum occaecat id cupidatat Lorem nulla. Officia do laborum
          velit culpa laborum officia ad pariatur.
        </p>
      </div>
      <div id="reviews">
        <h1>Reviews</h1>
        <p>
          Non ex proident Lorem ad cillum culpa consectetur enim cupidatat. Sit
          do minim nulla dolor tempor duis labore fugiat ipsum eiusmod non
          ullamco. Et velit enim cillum sint consequat non deserunt consectetur
          esse adipisicing veniam pariatur ea. Ea ex eu ipsum eu sint magna
          deserunt mollit incididunt elit. Nulla dolor cillum aliqua fugiat sint
          velit qui ipsum occaecat id cupidatat Lorem nulla. Officia do laborum
          velit culpa laborum officia ad pariatur.
        </p>
      </div>
      <div id="delivery">
        <h1>Delivery</h1>
        <p>
          Non ex proident Lorem ad cillum culpa consectetur enim cupidatat. Sit
          do minim nulla dolor tempor duis labore fugiat ipsum eiusmod non
          ullamco. Et velit enim cillum sint consequat non deserunt consectetur
          esse adipisicing veniam pariatur ea. Ea ex eu ipsum eu sint magna
          deserunt mollit incididunt elit. Nulla dolor cillum aliqua fugiat sint
          velit qui ipsum occaecat id cupidatat Lorem nulla. Officia do laborum
          velit culpa laborum officia ad pariatur.
        </p>

        <a href="#top">Back to top</a>
      </div>
    </main>
    <script src="scripts.js"></script>
  </body>
</html>
